[Unit]
Description=K96Rpi File System Management Service
Requires=K96Rpi_fsm.timer K96Rpi_usb_manager.timer
After=network.target K96Rpi_usb_manager.service

[Service]
ExecStart=/usr/bin/python3 /home/pi/K96Rpi/fsm_service/K96Rpi_fsm.py
WorkingDirectory=/home/pi/K96Rpi/

[Install]
WantedBy=multi-user.target
