[Unit]
Description=K96Rpi Sensor Info Service Timer
After=network.target K96Rpi_fsm.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
