[Unit]
Description=K96Rpi Time Sync Service
Requires=K96Rpi_timesync.timer
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/K96Rpi/timesync_service/K96Rpi_time_sync.py
WorkingDirectory=/home/pi/K96Rpi/

[Install]
WantedBy=multi-user.target
